body {
  font-family: arial, sans-serif;
}

/*
 * Statblock section.
 */
.statblock {
  font-family: "gandhi", arial, sans-serif;
  max-width: 1024px;
}

/*
 * Section headers in statblock.
 */
hr:nth-of-type(2n+1) + b {
  color: white;
  background-color: black;
  display: block;
  margin-bottom: -1em;
}

/*
 * Hide seperators.
 */
hr {
  visibility: hidden;
  display: none;
}

/*
 * Copyright footer.
 */

p:last-child {
  font-size: 75%;
}
